<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Question #0000</title>
    <link rel="stylesheet" type="text/css" href="styles.template.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="question-container">
        <h1 class="prompting">Prompt for the question</h1>
        <div class="options-container">
          <button type="button" name="option-a">Option A</button>
          <button type="button" name="option-b">Option B</button>
          <button type="button" name="option-c">Option C</button>
          <button type="button" name="option-d">Option D</button>
        </div>
      </div>
    </div>
  </body>
</html>
